# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next*/
/out/

# misc
.DS_Store

# local env files
.env.local
.env.*.local

# Log files
*.log*

# sitecore
scjssconfig.json
*.deploysecret.config

# vercel
.vercel

# NuGet cache for Sitecore CLI
.sitecore/package-cache/

# may contain OAuth secrets, do not commit
.sitecore/user.json

# Ephemeral index caches used by serialization, do not commit
.scindex

# Don't commit packages
*.itempackage
*.sicpackage

#Nuget packages folder
packages/

src/temp/